body {
  background-image: url(../assets/images/brickwall.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  margin: 0px;
  font-family: sans-serif;
}

#pop-up {
  top: -400px;
  -webkit-animation: drop 3s ease forwards;
          animation: drop 3s ease forwards;
}

.title {
  text-align: center;
  font-size: 60px;
  color: #e4dd3b;
}

.category {
  display: flex;
  justify-content: space-evenly;
  padding-right: 250px;
  padding-left: 250px;
  width: 1400px;
}
.category__heading {
  font-weight: bold;
  margin: 5px 10px;
  padding-top: 10px;
  color: #e4dd3b;
  font-size: 30px;
}

.question {
  display: flex;
  height: 400px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.question__card {
  background-color: black;
  height: 500px;
  width: 18%;
  margin-right: 23.04px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
.question__color {
  background-color: purple;
  height: 440px;
}
.question__color--red {
  background-color: red;
  height: 440px;
}
.question__color--blue {
  background-color: blue;
  height: 440px;
}
.question__list {
  padding: 0;
  width: 90%;
  margin: 20px 17px;
}
.question__item {
  list-style-type: none;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 10px;
  margin-top: 20px;
  padding: 10px;
  font-size: 30px;
  border-radius: 20px;
  color: #e4dd3b;
  position: relative;
  top: 20px;
}
.question__item--hover:hover {
  color: black;
  background: #e0e722;
  box-shadow: 0 0 50px #e0e722;
  text-decoration: none;
  cursor: pointer;
}

.selected-question {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
  height: 300px;
  background-color: gray;
  position: absolute;
  z-index: 1;
  left: calc(100vw / 3);
  top: 250px;
  text-align: center;
  color: #e4dd3b;
  border-radius: 10px;
  font-size: 18px;
}
.selected-question__question {
  width: 90%;
}
.selected-question__answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.selected-question__option {
  width: 45%;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
}
.selected-question__option:hover {
  cursor: pointer;
  background-color: black;
}

.player-scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightyellow;
  width: 15%;
  height: 300px;
  position: absolute;
  left: 30px;
  top: 300px;
  border-radius: 5px;
  z-index: 1;
}
.player-scoreboard__player-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  padding: 10px;
}

.overlay {
  position: absolute;
  z-index: 1;
  background-color: black;
  opacity: 60%;
  display: none;
  width: 100%;
  height: 100vh;
}

.gif-box {
  position: absolute;
  z-index: 1;
  right: 50px;
  top: 250px;
  border: none;
}

@-webkit-keyframes drop {
  0% {
    opacity: 0;
  }
  70% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(60px);
    opacity: 1;
  }
}

@keyframes drop {
  0% {
    opacity: 0;
  }
  70% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(60px);
    opacity: 1;
  }
}/*# sourceMappingURL=trivia.css.map */